In [63]:
with open('customer_support_tickets.csv', 'r', encoding='utf-8') as f:
    for i in range(10):
        print(f.readline())

Ticket ID,Customer Name,Customer Email,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Resolution,Ticket Priority,Ticket Channel,First Response Time,Time to Resolution,Customer Satisfaction Rating

1,Marisa Obrien,carrollallison@example.com,32,Other,GoPro Hero,22-03-2021,Technical issue,Product setup,"I'm having an issue with the {product_purchased}. Please assist.



Your billing zip code is: 71701.



We appreciate that you have requested a website address.



Please double check your email address. I've tried troubleshooting steps mentioned in the user manual, but the issue persists.",Pending Customer Response,,Critical,Social media,01-06-2023 12:15,,

2,Jessica Rios,clarkeashley@example.com,42,Female,LG Smart TV,22-05-2021,Technical issue,Peripheral compatibility,"I'm having an issue with the {product_purchased}. Please assist.

In [73]:
df = pd.read_csv("customer_support_tickets.csv", sep=",", engine='python')

In [75]:
import pandas as pd

df = pd.read_csv("customer_support_tickets.csv")
original_shape = df.shape
original_shape

(8469, 17)

In [77]:
df.head()

,Ticket ID,Customer Name,Customer Email,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Resolution,Ticket Priority,Ticket Channel,First Response Time,Time to Resolution,Customer Satisfaction Rating
0,1,Marisa Obrien,carrollallison@example.com,32,Other,GoPro Hero,22-03-2021,Technical issue,Product setup,I'm having an issue with the {product_purchase...,Pending Customer Response,NaN,Critical,Social media,01-06-2023 12:15,NaN,NaN
1,2,Jessica Rios,clarkeashley@example.com,42,Female,LG Smart TV,22-05-2021,Technical issue,Peripheral compatibility,I'm having an issue with the {product_purchase...,Pending Customer Response,NaN,Critical,Chat,01-06-2023 16:45,NaN,NaN
2,3,Christopher Robbins,gonzalestracy@example.com,48,Other,Dell XPS,14-07-2020,Technical issue,Network problem,I'm facing a problem with my {product_purchase...,Closed,Case maybe show recently my computer follow.,Low,Social media,01-06-2023 11:14,01-06-2023 18:05,3.0
3,4,Christina Dillon,bradleyolson@example.org,27,Female,Microsoft Office,13-11-2020,Billing inquiry,Account access,I'm having an issue with the {product_purchase...,Closed,Try capital clearly never color toward story.,Low,Social media,01-06-2023 07:29,01-06-2023 01:57,3.0
4,5,Alexander Carroll,bradleymark@example.com,67,Female,Autodesk AutoCAD,04-02-2020,Billing inquiry,Data loss,I'm having an issue with the {product_purchase...,Closed,West decision evidence bit.,Low,Email,01-06-2023 00:12,01-06-2023 19:53,1.0

In [79]:
df.drop(columns=[
    "Customer Name",
    "Customer Email",
    "Ticket Channel",
    "Customer Satisfaction Rating",
    "Resolution"
], inplace=True)

In [81]:
df.head()

,Ticket ID,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Ticket Priority,First Response Time,Time to Resolution
0,1,32,Other,GoPro Hero,22-03-2021,Technical issue,Product setup,I'm having an issue with the {product_purchase...,Pending Customer Response,Critical,01-06-2023 12:15,NaN
1,2,42,Female,LG Smart TV,22-05-2021,Technical issue,Peripheral compatibility,I'm having an issue with the {product_purchase...,Pending Customer Response,Critical,01-06-2023 16:45,NaN
2,3,48,Other,Dell XPS,14-07-2020,Technical issue,Network problem,I'm facing a problem with my {product_purchase...,Closed,Low,01-06-2023 11:14,01-06-2023 18:05
3,4,27,Female,Microsoft Office,13-11-2020,Billing inquiry,Account access,I'm having an issue with the {product_purchase...,Closed,Low,01-06-2023 07:29,01-06-2023 01:57
4,5,67,Female,Autodesk AutoCAD,04-02-2020,Billing inquiry,Data loss,I'm having an issue with the {product_purchase...,Closed,Low,01-06-2023 00:12,01-06-2023 19:53

In [83]:
priority_map = {
    "Critical": 4,
    "High": 3,
    "Medium": 2,
    "Low": 1
}

df['Priority Score'] = df['Ticket Priority'].map(priority_map)

In [93]:
df.head()

,Ticket ID,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Ticket Priority,First Response Time,Time to Resolution,Priority Score
0,1,32,Other,GoPro Hero,22-03-2021,Technical issue,Product setup,I'm having an issue with the {product_purchase...,Pending Customer Response,Critical,2023-06-01 12:15:00,NaT,4
1,2,42,Female,LG Smart TV,22-05-2021,Technical issue,Peripheral compatibility,I'm having an issue with the {product_purchase...,Pending Customer Response,Critical,2023-06-01 16:45:00,NaT,4
2,3,48,Other,Dell XPS,14-07-2020,Technical issue,Network problem,I'm facing a problem with my {product_purchase...,Closed,Low,2023-06-01 11:14:00,2023-06-01 18:05:00,1
3,4,27,Female,Microsoft Office,13-11-2020,Billing inquiry,Account access,I'm having an issue with the {product_purchase...,Closed,Low,2023-06-01 07:29:00,2023-06-01 01:57:00,1
4,5,67,Female,Autodesk AutoCAD,04-02-2020,Billing inquiry,Data loss,I'm having an issue with the {product_purchase...,Closed,Low,2023-06-01 00:12:00,2023-06-01 19:53:00,1

In [95]:
df['Ticket Priority'].value_counts(dropna=False)

Ticket Priority
Medium      2192
Critical    2129
High        2085
Low         2063
Name: count, dtype: int64

In [99]:
df['First Response Time'] = pd.to_datetime(
    df['First Response Time'], 
    format="%d-%m-%Y %H:%M", 
    errors='coerce'
)

In [101]:
df['Time to Resolution'] = pd.to_datetime(
    df['Time to Resolution'], 
    format="%d-%m-%Y %H:%M", 
    errors='coerce'
)

In [103]:
df['First Response Time'].head()
df['Time to Resolution'].head()

0                   NaT
1                   NaT
2   2023-06-01 18:05:00
3   2023-06-01 01:57:00
4   2023-06-01 19:53:00
Name: Time to Resolution, dtype: datetime64[ns]

In [105]:
df.head()

,Ticket ID,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Ticket Priority,First Response Time,Time to Resolution,Priority Score
0,1,32,Other,GoPro Hero,22-03-2021,Technical issue,Product setup,I'm having an issue with the {product_purchase...,Pending Customer Response,Critical,2023-06-01 12:15:00,NaT,4
1,2,42,Female,LG Smart TV,22-05-2021,Technical issue,Peripheral compatibility,I'm having an issue with the {product_purchase...,Pending Customer Response,Critical,2023-06-01 16:45:00,NaT,4
2,3,48,Other,Dell XPS,14-07-2020,Technical issue,Network problem,I'm facing a problem with my {product_purchase...,Closed,Low,2023-06-01 11:14:00,2023-06-01 18:05:00,1
3,4,27,Female,Microsoft Office,13-11-2020,Billing inquiry,Account access,I'm having an issue with the {product_purchase...,Closed,Low,2023-06-01 07:29:00,2023-06-01 01:57:00,1
4,5,67,Female,Autodesk AutoCAD,04-02-2020,Billing inquiry,Data loss,I'm having an issue with the {product_purchase...,Closed,Low,2023-06-01 00:12:00,2023-06-01 19:53:00,1

In [107]:
print(df[['Date of Purchase','First Response Time','Time to Resolution']].head())

  Date of Purchase First Response Time  Time to Resolution
0       22-03-2021 2023-06-01 12:15:00                 NaT
1       22-05-2021 2023-06-01 16:45:00                 NaT
2       14-07-2020 2023-06-01 11:14:00 2023-06-01 18:05:00
3       13-11-2020 2023-06-01 07:29:00 2023-06-01 01:57:00
4       04-02-2020 2023-06-01 00:12:00 2023-06-01 19:53:00

In [109]:
df['Date of Purchase'] = pd.to_datetime(
    df['Date of Purchase'],
    format="%d-%m-%Y",
    errors='coerce'
)

In [113]:
print(df[['Date of Purchase','First Response Time','Time to Resolution']].head())

  Date of Purchase First Response Time  Time to Resolution
0       2021-03-22 2023-06-01 12:15:00                 NaT
1       2021-05-22 2023-06-01 16:45:00                 NaT
2       2020-07-14 2023-06-01 11:14:00 2023-06-01 18:05:00
3       2020-11-13 2023-06-01 07:29:00 2023-06-01 01:57:00
4       2020-02-04 2023-06-01 00:12:00 2023-06-01 19:53:00

In [ ]:
# STEP 2 — Compute Response Delay, resultion time, total handling in hours

In [115]:
df['Response Delay (Hours)'] = (
    df['First Response Time'] - df['Date of Purchase']
).dt.total_seconds() / 3600

In [117]:
df['Resolution Time (Hours)'] = (
    df['Time to Resolution'] - df['First Response Time']
).dt.total_seconds() / 3600

In [119]:
df['Total Handling (Hours)'] = (
    df['Time to Resolution'] - df['Date of Purchase']
).dt.total_seconds() / 3600

In [121]:
#If Time to Resolution is NaT → unresolved
df['Unresolved'] = df['Time to Resolution'].isna().astype(int)

In [123]:
#If First Response Time is NaT → unresponded

df['Unresponded'] = df['First Response Time'].isna().astype(int)

In [125]:
#KPI categorization

In [127]:
df['Resolution Category'] = pd.cut(
    df['Resolution Time (Hours)'],
    bins=[0, 24, 72, float('inf')],
    labels=['Fast', 'Medium', 'Slow']
)

In [129]:
df[['Response Delay (Hours)', 'Resolution Time (Hours)', 'Total Handling (Hours)', 'Unresolved', 'Unresponded']].head()

,Response Delay (Hours),Resolution Time (Hours),Total Handling (Hours),Unresolved,Unresponded
0,19236.250000,NaN,NaN,1,0
1,17776.750000,NaN,NaN,1,0
2,25259.233333,6.850000,25266.083333,0,0
3,22327.483333,-5.533333,22321.950000,0,0
4,29112.200000,19.683333,29131.883333,0,0

In [131]:
df.head()

,Ticket ID,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Ticket Priority,First Response Time,Time to Resolution,Priority Score,Response Delay (Hours),Resolution Time (Hours),Total Handling (Hours),Unresolved,Unresponded,Resolution Category
0,1,32,Other,GoPro Hero,2021-03-22,Technical issue,Product setup,I'm having an issue with the {product_purchase...,Pending Customer Response,Critical,2023-06-01 12:15:00,NaT,4,19236.250000,NaN,NaN,1,0,NaN
1,2,42,Female,LG Smart TV,2021-05-22,Technical issue,Peripheral compatibility,I'm having an issue with the {product_purchase...,Pending Customer Response,Critical,2023-06-01 16:45:00,NaT,4,17776.750000,NaN,NaN,1,0,NaN
2,3,48,Other,Dell XPS,2020-07-14,Technical issue,Network problem,I'm facing a problem with my {product_purchase...,Closed,Low,2023-06-01 11:14:00,2023-06-01 18:05:00,1,25259.233333,6.850000,25266.083333,0,0,Fast
3,4,27,Female,Microsoft Office,2020-11-13,Billing inquiry,Account access,I'm having an issue with the {product_purchase...,Closed,Low,2023-06-01 07:29:00,2023-06-01 01:57:00,1,22327.483333,-5.533333,22321.950000,0,0,NaN
4,5,67,Female,Autodesk AutoCAD,2020-02-04,Billing inquiry,Data loss,I'm having an issue with the {product_purchase...,Closed,Low,2023-06-01 00:12:00,2023-06-01 19:53:00,1,29112.200000,19.683333,29131.883333,0,0,Fast

In [135]:
df.drop(columns=[
    'Response Delay (Hours)',
    'Total Handling (Hours)'
], inplace=True)

In [133]:
df.loc[df['Resolution Time (Hours)'] < 0, 'Resolution Time (Hours)'] += 24

In [137]:
df.head()

,Ticket ID,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Ticket Priority,First Response Time,Time to Resolution,Priority Score,Resolution Time (Hours),Unresolved,Unresponded,Resolution Category
0,1,32,Other,GoPro Hero,2021-03-22,Technical issue,Product setup,I'm having an issue with the {product_purchase...,Pending Customer Response,Critical,2023-06-01 12:15:00,NaT,4,NaN,1,0,NaN
1,2,42,Female,LG Smart TV,2021-05-22,Technical issue,Peripheral compatibility,I'm having an issue with the {product_purchase...,Pending Customer Response,Critical,2023-06-01 16:45:00,NaT,4,NaN,1,0,NaN
2,3,48,Other,Dell XPS,2020-07-14,Technical issue,Network problem,I'm facing a problem with my {product_purchase...,Closed,Low,2023-06-01 11:14:00,2023-06-01 18:05:00,1,6.850000,0,0,Fast
3,4,27,Female,Microsoft Office,2020-11-13,Billing inquiry,Account access,I'm having an issue with the {product_purchase...,Closed,Low,2023-06-01 07:29:00,2023-06-01 01:57:00,1,18.466667,0,0,NaN
4,5,67,Female,Autodesk AutoCAD,2020-02-04,Billing inquiry,Data loss,I'm having an issue with the {product_purchase...,Closed,Low,2023-06-01 00:12:00,2023-06-01 19:53:00,1,19.683333,0,0,Fast

In [139]:
df.to_csv("processed_support_tickets.csv", index=False)