<a href="https://colab.research.google.com/github/springboardmentor5432x/DV---Optimizing-IT-Support-Team-Performance-Using-Analytics-Supportlytics-/blob/Dhanya-Shree-Optimizing-IT-Support-Team-Performance-Using-Analytics-Supportlytics/Milestone_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
from google.colab import files

In [6]:
file_path = 'Technical Support Dataset.csv'
df = pd.read_csv('/content/Technical Support Dataset.csv')

In [7]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2330 entries, 0 to 2329
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Status                          2330 non-null   object
 1   Ticket ID                       2330 non-null   int64
 2   Priority                        2330 non-null   object
 3   Source                          2330 non-null   object
 4   Topic                           2330 non-null   object
 5   Agent Group                     2330 non-null   object
 6   Agent Name                      2330 non-null   object
 7   Created time                    2330 non-null   object
 8   Expected SLA to resolve         2330 non-null   object
 9   Expected SLA to first response  2330 non-null   object
 10  First response time             2312 non-null   object
 11  SLA For first response          2330 non-null   object
 12  Resolution time                 1912 non-null   object
 13  SLA For Resolution              2330 non-null   object
 14  Close time                      1173 non-null   object
 15  Agent interactions              2312 non-null   float64
 16  Survey results                  1173 non-null   float64
 17  Product group                   2330 non-null   object
 18  Support Level                   2330 non-null   object
 19  Country                         2330 non-null   object
 20  Latitude                        2330 non-null   float64
 21  Longitude                       2330 non-null   float64
dtypes: float64(4), int64(1), object(17)
memory usage: 400.6+ KB

In [8]:
df.isnull().sum()

Status                               0
Ticket ID                            0
Priority                             0
Source                               0
Topic                                0
Agent Group                          0
Agent Name                           0
Created time                         0
Expected SLA to resolve              0
Expected SLA to first response       0
First response time                 18
SLA For first response               0
Resolution time                    418
SLA For Resolution                   0
Close time                        1157
Agent interactions                  18
Survey results                    1157
Product group                        0
Support Level                        0
Country                              0
Latitude                             0
Longitude                            0
dtype: int64

In [9]:
print("\nDistribution by Product Group:")
(df['Product group'].value_counts())

Distribution by Product Group:

Product group
Ready to use Software               1010
Custom software development          644
Other                                345
Training and Consulting Services     331
Name: count, dtype: int64

In [10]:
print("\nDistribution by Priority:")
df['Priority'].value_counts()

Distribution by Priority:

Priority
Low       1192
Medium     722
High       416
Name: count, dtype: int64

In [11]:
print("\nDistribution by Topic:")
df['Topic'].value_counts()

Distribution by Topic:

Topic
Product setup               630
Pricing and licensing       457
Feature request             417
Purchasing and invoicing    264
Bug report                  225
Other                       203
Pricing and Licensing        68
Training request             66
Name: count, dtype: int64

In [12]:
df['Topic'] = df['Topic'].str.strip().str.capitalize()

In [13]:
date_columns = ['Created time', 'First response time', 'Resolution time', 'Close time']
for col in date_columns:
    df[col] = pd.to_datetime(df[col], errors='coerce')

/tmp/ipython-input-3670816240.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce')
/tmp/ipython-input-3670816240.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce')
/tmp/ipython-input-3670816240.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce')

In [14]:
df['Resolution_Duration'] = (df['Resolution time'] - df['Created time']).dt.total_seconds() / 3600

In [15]:
df['Response_Duration'] = (df['First response time'] - df['Created time']).dt.total_seconds() / 3600

In [16]:
priority_map = {'Low': 1, 'Medium': 2, 'High': 3}
df['Priority_Score'] = df['Priority'].map(priority_map)

In [17]:
df['Performance_Bucket'] = pd.qcut(df['Resolution_Duration'].dropna(), q=3, labels=['Fast', 'Average', 'Slow'])

In [21]:
df['Agent interactions'] = df['Agent interactions'].fillna(0)
df.to_csv('/content/Technical Support Dataset.csv', index=False)
df[['Ticket ID', 'Resolution_Duration', 'Priority_Score', 'Performance_Bucket']].head()
#files.download("cleaned-technical-dataset.csv")
output_filename = 'Cleaned_Technical_Support_Dataset.csv'

# Save the file to Colab memory
df.to_csv('Cleaned_Technical_Support_Dataset.csv', index=False)

df[['Ticket ID', 'Resolution_Duration', 'Priority_Score', 'Performance_Bucket']].head()

   Ticket ID  Resolution_Duration  Priority_Score Performance_Bucket
0       1012                  NaN               1                NaN
1       1013                  NaN               3                NaN
2       1014                  NaN               1                NaN
3       1015                  NaN               2                NaN
4       1016             25083.05               1               Slow