Load the CSV dataset using pandas

In [2]:
import pandas as pd

df = pd.read_csv("Technical Support Dataset 3.csv")

df.head()

,Status,Ticket ID,Priority,Source,Topic,Agent Group,Agent Name,Created time,Expected SLA to resolve,Expected SLA to first response,First response time,SLA For first response,Resolution time,SLA For Resolution,Close time,Product group,Support Level,Country,Type
0,Closed,1012,Low,Email,Feature request,1st line support,Kristos Westoll,02-01-2023 00:58,04-01-2023 00:58,02-01-2023 01:58,03:17.4,Within SLA,31:51.7,Within SLA,02:59.0,Custom software development,Tier 1,Republic of Ireland,Change
1,In progress,1013,High,Phone,Product setup,2nd line support,Adolpho Messingham,02-01-2023 07:27,04-01-2023 07:27,02-01-2023 07:29,27:43.2,Within SLA,NaN,SLA Violated,NaN,Other,Tier 2,Italy,Request
2,Resolved,1014,Low,Chat,Purchasing and invoicing,1st line support,Bernard Beckley,02-01-2023 06:59,03-01-2023 06:59,02-01-2023 07:01,59:57.5,Within SLA,45:33.0,Within SLA,NaN,Custom software development,Tier 1,Austria,Request
3,Closed,1015,Medium,Email,Pricing and licensing,1st line support,Connor Danielovitch,03-01-2023 03:09,05-01-2023 03:09,03-01-2023 04:09,09:15.8,SLA Violated,32:35.0,Within SLA,24:54.8,Ready to use Software,Tier 1,Spain,Request
4,Closed,1016,Low,Email,Product setup,1st line support,Kristos Westoll,03-01-2023 00:03,05-01-2023 00:03,03-01-2023 01:03,08:01.7,Within SLA,03:06.0,Within SLA,05:08.6,Other,Tier 1,Austria,Request

Explore Schema, Data Types, and Missing Values

Dataset Shape (Rows & Columns)

In [3]:
df.shape

(2330, 19)

In [4]:
df.columns

Index(['Status', 'Ticket ID', 'Priority', 'Source', 'Topic', 'Agent Group',
       'Agent Name', 'Created time', 'Expected SLA to resolve',
       'Expected SLA to first response', 'First response time',
       'SLA For first response', 'Resolution time', 'SLA For Resolution',
       'Close time', 'Product group', 'Support Level', 'Country', 'Type'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2330 entries, 0 to 2329
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Status                          2330 non-null   object
 1   Ticket ID                       2330 non-null   int64
 2   Priority                        2330 non-null   object
 3   Source                          2330 non-null   object
 4   Topic                           2330 non-null   object
 5   Agent Group                     2330 non-null   object
 6   Agent Name                      2330 non-null   object
 7   Created time                    2330 non-null   object
 8   Expected SLA to resolve         2330 non-null   object
 9   Expected SLA to first response  2330 non-null   object
 10  First response time             2312 non-null   object
 11  SLA For first response          2330 non-null   object
 12  Resolution time                 1912 non-null   object
 13  SLA For Resolution              2330 non-null   object
 14  Close time                      1173 non-null   object
 15  Product group                   2330 non-null   object
 16  Support Level                   2330 non-null   object
 17  Country                         2330 non-null   object
 18  Type                            2330 non-null   object
dtypes: int64(1), object(18)
memory usage: 346.0+ KB

Missing Values Check

In [6]:
df.isnull().sum()

Status                               0
Ticket ID                            0
Priority                             0
Source                               0
Topic                                0
Agent Group                          0
Agent Name                           0
Created time                         0
Expected SLA to resolve              0
Expected SLA to first response       0
First response time                 18
SLA For first response               0
Resolution time                    418
SLA For Resolution                   0
Close time                        1157
Product group                        0
Support Level                        0
Country                              0
Type                                 0
dtype: int64

Ticket Distribution by Type

In [7]:
df['Type'].value_counts()

Type
Request     1688
Change       417
Incident     225
Name: count, dtype: int64

Ticket Distribution by Priority

In [8]:
df['Priority'].value_counts()

Priority
Low       1192
Medium     722
High       416
Name: count, dtype: int64

Ticket Distribution by Category

In [10]:
df['Topic'].value_counts()

Topic
Product setup               630
Pricing and licensing       457
Feature request             417
Purchasing and invoicing    264
Bug report                  225
Other                       203
Pricing and Licensing        68
Training request             66
Name: count, dtype: int64