In [1]:
import pandas as pd
from tkinter import Tk
from tkinter.filedialog import askopenfilename

Tk().withdraw()  # hides small window
file_path = askopenfilename()  # opens file picker

df = pd.read_csv(file_path)
df.head()

,Ticket ID,Customer Name,Customer Email,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Resolution,Ticket Priority,Ticket Channel,First Response Time,Time to Resolution,Customer Satisfaction Rating
0,1,Marisa Obrien,carrollallison@example.com,32,Other,GoPro Hero,2021-03-22,Technical issue,Product setup,I'm having an issue with the {product_purchase...,Pending Customer Response,NaN,Critical,Social media,2023-06-01 12:15:36,NaN,NaN
1,2,Jessica Rios,clarkeashley@example.com,42,Female,LG Smart TV,2021-05-22,Technical issue,Peripheral compatibility,I'm having an issue with the {product_purchase...,Pending Customer Response,NaN,Critical,Chat,2023-06-01 16:45:38,NaN,NaN
2,3,Christopher Robbins,gonzalestracy@example.com,48,Other,Dell XPS,2020-07-14,Technical issue,Network problem,I'm facing a problem with my {product_purchase...,Closed,Case maybe show recently my computer follow.,Low,Social media,2023-06-01 11:14:38,2023-06-01 18:05:38,3.0
3,4,Christina Dillon,bradleyolson@example.org,27,Female,Microsoft Office,2020-11-13,Billing inquiry,Account access,I'm having an issue with the {product_purchase...,Closed,Try capital clearly never color toward story.,Low,Social media,2023-06-01 07:29:40,2023-06-01 01:57:40,3.0
4,5,Alexander Carroll,bradleymark@example.com,67,Female,Autodesk AutoCAD,2020-02-04,Billing inquiry,Data loss,I'm having an issue with the {product_purchase...,Closed,West decision evidence bit.,Low,Email,2023-06-01 00:12:42,2023-06-01 19:53:42,1.0

In [2]:
df.shape

(8469, 17)

In [3]:
df.columns

Index(['Ticket ID', 'Customer Name', 'Customer Email', 'Customer Age',
       'Customer Gender', 'Product Purchased', 'Date of Purchase',
       'Ticket Type', 'Ticket Subject', 'Ticket Description', 'Ticket Status',
       'Resolution', 'Ticket Priority', 'Ticket Channel',
       'First Response Time', 'Time to Resolution',
       'Customer Satisfaction Rating'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8469 entries, 0 to 8468
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ticket ID                     8469 non-null   int64
 1   Customer Name                 8469 non-null   object
 2   Customer Email                8469 non-null   object
 3   Customer Age                  8469 non-null   int64
 4   Customer Gender               8469 non-null   object
 5   Product Purchased             8469 non-null   object
 6   Date of Purchase              8469 non-null   object
 7   Ticket Type                   8469 non-null   object
 8   Ticket Subject                8469 non-null   object
 9   Ticket Description            8469 non-null   object
 10  Ticket Status                 8469 non-null   object
 11  Resolution                    2769 non-null   object
 12  Ticket Priority               8469 non-null   object
 13  Ticket Channel                8469 non-null   object
 14  First Response Time           5650 non-null   object
 15  Time to Resolution            2769 non-null   object
 16  Customer Satisfaction Rating  2769 non-null   float64
dtypes: float64(1), int64(2), object(14)
memory usage: 1.1+ MB

In [5]:
df.isnull().sum()

Ticket ID                          0
Customer Name                      0
Customer Email                     0
Customer Age                       0
Customer Gender                    0
Product Purchased                  0
Date of Purchase                   0
Ticket Type                        0
Ticket Subject                     0
Ticket Description                 0
Ticket Status                      0
Resolution                      5700
Ticket Priority                    0
Ticket Channel                     0
First Response Time             2819
Time to Resolution              5700
Customer Satisfaction Rating    5700
dtype: int64

## Dataset Observation (Module 1)

- The dataset contains **___ rows** and **___ columns**.
- The dataset includes both categorical and numerical features.
- Several columns contain missing values which will be handled during the data cleaning phase.

In [9]:
df.columns

Index(['Ticket ID', 'Customer Name', 'Customer Email', 'Customer Age',
       'Customer Gender', 'Product Purchased', 'Date of Purchase',
       'Ticket Type', 'Ticket Subject', 'Ticket Description', 'Ticket Status',
       'Resolution', 'Ticket Priority', 'Ticket Channel',
       'First Response Time', 'Time to Resolution',
       'Customer Satisfaction Rating'],
      dtype='object')

In [10]:
df['Ticket Type'].value_counts()

Ticket Type
Refund request          1752
Technical issue         1747
Cancellation request    1695
Product inquiry         1641
Billing inquiry         1634
Name: count, dtype: int64

In [11]:
df['Ticket Priority'].value_counts()

Ticket Priority
Medium      2192
Critical    2129
High        2085
Low         2063
Name: count, dtype: int64

In [12]:
df['Ticket Status'].value_counts()

Ticket Status
Pending Customer Response    2881
Open                         2819
Closed                       2769
Name: count, dtype: int64

## Initial Ticket Distribution

- Most tickets are of type **Refund request**.
- The majority of tickets fall under **Medium priority**.
- Most tickets are currently in **Resolved** status.

In [13]:
df.isnull().sum()

Ticket ID                          0
Customer Name                      0
Customer Email                     0
Customer Age                       0
Customer Gender                    0
Product Purchased                  0
Date of Purchase                   0
Ticket Type                        0
Ticket Subject                     0
Ticket Description                 0
Ticket Status                      0
Resolution                      5700
Ticket Priority                    0
Ticket Channel                     0
First Response Time             2819
Time to Resolution              5700
Customer Satisfaction Rating    5700
dtype: int64

In [15]:
df['Customer Gender'] = df['Customer Gender'].fillna('Unknown')
df['Customer Satisfaction Rating'] = df['Customer Satisfaction Rating'].fillna(
    df['Customer Satisfaction Rating'].median()
)

In [16]:
df['Customer Gender'].fillna('Unknown', inplace=True)
df['Customer Satisfaction Rating'].fillna(df['Customer Satisfaction Rating'].median(), inplace=True)

C:\Users\jakka\AppData\Local\Temp\ipykernel_30256\3283563036.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Customer Gender'].fillna('Unknown', inplace=True)
C:\Users\jakka\AppData\Local\Temp\ipykernel_30256\3283563036.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Customer Satisfaction Rating'].fillna(df['Customer Satisfaction Rating'].median(), inplace=True)

In [17]:
df['Customer Gender'] = df['Customer Gender'].fillna('Unknown')
df['Customer Satisfaction Rating'] = df['Customer Satisfaction Rating'].fillna(
    df['Customer Satisfaction Rating'].median()
)

In [18]:
df.isnull().sum()

Ticket ID                          0
Customer Name                      0
Customer Email                     0
Customer Age                       0
Customer Gender                    0
Product Purchased                  0
Date of Purchase                   0
Ticket Type                        0
Ticket Subject                     0
Ticket Description                 0
Ticket Status                      0
Resolution                      5700
Ticket Priority                    0
Ticket Channel                     0
First Response Time             2819
Time to Resolution              5700
Customer Satisfaction Rating       0
dtype: int64

In [19]:
df['Customer Gender'] = df['Customer Gender'].fillna('Unknown')

In [20]:
df['Customer Satisfaction Rating'] = df['Customer Satisfaction Rating'].fillna(
    df['Customer Satisfaction Rating'].median()
)

In [21]:
df.isnull().sum()

Ticket ID                          0
Customer Name                      0
Customer Email                     0
Customer Age                       0
Customer Gender                    0
Product Purchased                  0
Date of Purchase                   0
Ticket Type                        0
Ticket Subject                     0
Ticket Description                 0
Ticket Status                      0
Resolution                      5700
Ticket Priority                    0
Ticket Channel                     0
First Response Time             2819
Time to Resolution              5700
Customer Satisfaction Rating       0
dtype: int64

## Missing Value Handling

Missing values were identified using pandas.  
Categorical missing values were filled with 'Unknown', and numerical missing values were handled using median imputation to maintain data integrity.

In [22]:
df['Time to Resolution'].head()

0                    NaN
1                    NaN
2    2023-06-01 18:05:38
3    2023-06-01 01:57:40
4    2023-06-01 19:53:42
Name: Time to Resolution, dtype: object

In [23]:
df['Resolution_Duration'] = df['Time to Resolution']

In [24]:
df[['Time to Resolution', 'Resolution_Duration']].head()

    Time to Resolution  Resolution_Duration
0                  NaN                  NaN
1                  NaN                  NaN
2  2023-06-01 18:05:38  2023-06-01 18:05:38
3  2023-06-01 01:57:40  2023-06-01 01:57:40
4  2023-06-01 19:53:42  2023-06-01 19:53:42

## Feature Engineering: Resolution Duration

- A new feature called **Resolution_Duration** was created.
- It represents the time taken to resolve each support ticket.
- This feature will be used to analyze resolution efficiency.

In [25]:
df['Ticket Priority'].value_counts()

Ticket Priority
Medium      2192
Critical    2129
High        2085
Low         2063
Name: count, dtype: int64

In [26]:
priority_map = {
    'Low': 1,
    'Medium': 2,
    'High': 3,
    'Critical': 4
}

In [27]:
df['Priority_Score'] = df['Ticket Priority'].map(priority_map)

In [28]:
df[['Ticket Priority', 'Priority_Score']].head()

  Ticket Priority  Priority_Score
0        Critical               4
1        Critical               4
2             Low               1
3             Low               1
4             Low               1

## Feature Engineering: Priority Score

- Ticket priorities were converted into numerical values.
- A new feature named **Priority_Score** was created.
- This helps in analyzing ticket urgency and performance.

In [29]:
df.to_csv("cleaned_it_support_tickets.csv", index=False)

In [30]:
import os
os.listdir()

['.ipynb_checkpoints',
 'cleaned_it_support_tickets.csv',
 'it_support_tickets.csv.csv',
 'Module1_Dataset_Setup.ipynb']

## Milestone 1 Completion Summary

- The IT support ticket dataset was successfully loaded and explored.
- Missing values were identified and handled appropriately.
- New features such as **Resolution_Duration** and **Priority_Score** were created.
- The cleaned and processed dataset was saved for further analysis.